/* About.css */

.about-container {
  position: relative;
  margin: 5em auto; /* Center the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  max-width: 35em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #a72d1f;
  border-radius: 10px;
  padding: 20px;
  background-color: #f0e9ee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.owner-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(193, 30, 19);
}

.h1 {
  color: black !important;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .about-container {
    max-width: 80%;
  }

  .owner-image {
    max-height: 40%;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    max-width: 90%;
  }

  .owner-image {
    max-height: 30%;
  }
}
