/* styles.css */

.contact-container {
  display:-ms-inline-grid;
  border: 5px solid #ccc;
  background-color: rgb(167, 19, 5);
  padding: 20px;
  width: 15em;
  height: 17em;
  margin-left: 37em;
  margin-top:25em;
  border-radius: 8px;
}

.contact-info {
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-number {
  color: #4b9df5;
}

.email {
  color: #15eb47;
}
@media screen and (max-width: 768px) {
  .contact-container {
    width: 80%; /* Adjust the width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .contact-container {
    width: 90%; /* Further adjust the width for even smaller screens */
  }

  .contact-info {
    font-size: 1.2em; /* Further adjust font size for even smaller screens */
  }
}