/* ContactInfo.css */

.contact-container {
  display: grid;
  border: 5px solid #ccc;
  background-color: rgb(167, 19, 5);
  padding: 10px;
  width: 20em;
  height: 20em;
  margin: 3em auto;
  border-radius: 8px;
}

.contact-info {
  font-size: 24px;
  margin-bottom: 5px;
}

.contact-number {
  color: #4b9df5;
}

.email {
  color: #15eb47;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 480px) {
  .contact-container {
    width: 90%;
  }

  .contact-info {
    font-size: 1.4em;
  }
}
