/* Mission.css */

.mission-container {
    max-width: 600px;
    margin: 20px auto;
    margin-left: 35em;
    padding: 20px;
    color:white;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(174, 18, 18);
  }
  
  h2 {
    color: #030910;
    font-size: 36px;
    text-align: center;
  }
  
  p {
    margin-bottom: 15px;
    font-size: 20px;
  }
  